@import './variables';
.header {
  margin: 0;
  background: $primary;
  padding: .5% 0px;
  border-top: 10px solid $dark_primary;
  &__title {
    color: $header;
    margin: 0px 0px 0px 20%;
    width: 60%;
    padding: 0;

    &-title {
      width: 90%;
      float: left;

      img {
        width: 36px;
        position: relative;
        top: 6px;
        margin-right: 10px;
      }
    }
  }
}
