@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

@import './variables.scss';
@import './header.scss';
@import './config';
@import './burger';
@import './mainburger';

// Import fontawesome
@import '../../../node_modules/font-awesome/scss/font-awesome';

body {
  margin: 0px;
  padding: 0px;
  background: $light_primary;
}

.clear::after {
	content: " ";
	display: table;
	clear: both;
}
